<h2 class="m-6 text-3xl text-red-800">Formulario template-driven</h2>

<div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" name="myForm" #myCountryForm="ngForm" ngSubmit="saveCountry()">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="id">
          Id
        </label>
        <input class="inputModel" id="id" type="text" placeholder="id" [(ngModel)]="myForm.id" #id="ngModel">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
          Title
        </label>
        <input class="inputModel" id="title" type="text" placeholder="title" [(ngModel)]="myForm.title" #title="ngModel">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="body">
          Body
        </label>
        <textarea class="inputModel" id="body" name="body" rows="5" cols="33" [(ngModel)]="myForm.body" #body="ngModel">
        </textarea>
      </div>
      <div class="flex items-center justify-between">
        <button class="mybutton" type="submit">
          Submit
        </button>
      </div>
    </form>
    <p class="text-center text-gray-500 text-xs">
      &copy;2020 Acme Corp. All rights reserved.
    </p>
  </div>

<br>


<div *ngFor="let post of posts" [ngStyle]="{'display': 'flex'}">
  <span>{{post.id}}</span>
  <span>{{post.title}}</span>
  <span>{{post.body}}</span>
</div>
